body{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
section .screen1, .screen2{
    position: relative;
    flex-grow: 1;
    display: flex;
    transition: 1s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section .screen1:hover{
    flex-grow: 10;
}
section .screen2:hover{
    flex-grow: 10;

}
section .screen1:nth-child(1){
    background: lightcoral;
} 
section .screen1:nth-child(2){
    background: lightgreen;
} 
section .screen1 .card, .screen2 .card{
    max-width: 300px;
    text-align: center;
    transition: 0.5s;
}
