body{
    margin: 0;
    padding: 0;
    background: lightgray;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    padding: 40px;
    border-radius: 10px;
}

.header{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./bg.jpg');
    background-size: cover;
    margin: 0;
    height: 50vh;
    text-align: center;
    color: white;
    font-size: 30px;
    /* padding: 20px; */
}

.header h1{
    margin: 0;
    padding-top: 100px;
}


.body{
    background: #fff;
    padding: 40px;
}

.body p{
    margin: 0;
}