<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <nav>
            <img src="/img/logo-metro.png" alt="">
            <div class="nav_center">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/addItem">Add Item</a></li>
                    <li><a href="/updateItem">Update Item</a></li>
                    <li><a href="/deleteItem">Delete Item</a></li>
                </ul>
            </div>
            <button>Logout</button>
        </nav>
    </div>
    <div class="container">
        <div class="search">
            <input class="" type="search" placeholder="Search" aria-label="Search" id="search">
        </div>
        <div id="allItems">
            <!-- <div class="item">
                <div class="imgItem">
                    <img src="../public/img/pepsi.jpg" alt="">
                </div>
                <h3 id="name">Pepsi</h3>
                <h4 id="price">$6.99</h4>
                <button><a href="">Buy</a></button>
            </div> -->
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>