* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}
.container {
  color: #2c6e49;
}
label {
  font-size: 20px;
  font-weight: 700;
}
ul {
  list-style-type: none;
}
.jumbotron {
  height: 350px;
  background: #2c6e49;
  color: #fff;
  font-size: 18px;
}

.button {
  background: #2c6e49;
  color: #fff;
}

.button:hover{
    background: #1c4b30;
    color: #fff;
    transition: 1s;
}
